# Model Selection
# Options: custom, openai, google
MODEL_PROVIDER=google
GOOGLE_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
MODEL_NAME=gemini-flash-latest
OPENAI_API_BASE=http://ip_address:30080/v1/chat/completions  # custom only

# Configuration
MANUAL_PATH=compliance_manual.txt
